@using MVC.Models.Shared
@model TestViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create test</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TestName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TestName)
        </div>
        <!--<div class="editor-label">
            @*@Html.LabelFor(model => model.Role)*@
            </div>-->
        <!--<div class="editor-field">
            @*@Html.DropDownListFor(model => model.Role, new SelectList(Enum.GetNames(typeof(Role))), string.Empty)*@
        </div>-->
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to test's list", "Index")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

