@using MVC.Models.Shared
@model TestViewModel

@{
    ViewBag.Title = "";
}

@if (Model.CurrentQuestion != null)
{
    using (Html.BeginForm("PassTest", "Client", FormMethod.Post))
    {
        <div class="col-lg-offset-11 col-lg-1 ">
            <input type="submit" value="Pass" name="action:PassTest" class="btn btn-primary" />
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
    }

    <div class="row">
        <div id="questionDiv">
            @Html.Partial("_ViewQuestion", Model.CurrentQuestion)
        </div>
    </div>
    <br />
}
else
{
    <h2>There are nothing questions here</h2>
}
<div>
    @Html.ActionLink("Back to test's list", "ViewStatistic")
</div>



